@font-face {
   font-family: 'Inter-Medium';
   src: url('../fonts/Inter-Medium.ttf') format('truetype');
   font-display: swap;
}
@font-face {
   font-family: 'NotoSansKR-Medium';
   src: url('../fonts/NotoSansKR-Medium.ttf') format('truetype');
   font-display: swap;
}

body {
   padding: 0;
   height: 100%;
   overflow: hidden;
   font-family: 'Inter-Medium', 'NotoSansKR-Medium';
   font-size: 16px;
   font-weight: 600;
   margin: 0;
}
.portfolio {
   top: 0;
   display: flex;
   flex: 1;
}
.Home {
   display: flex;
   flex-direction: column;
   height: 100vh;
background: var(--color-gradient);
}
.Home .intro {
   flex: 1;
   justify-content: center;
   display: flex;
   flex-direction: column;
   width: 100%;
}
.Home .intro > h1 {
   margin: 0;
   font-size: 4em;
   font-weight: 700;
}
.Home .intro > h2 {
   margin: 0;
   font-size: 2rem;
   font-weight: 600;
}
.Home .intro > h3 {
   margin: 0;
   font-size: 1rem;
   font-weight: 400;
}

.Home .info {
   display: flex;
   flex-direction: column;
   padding: 40px;
   bottom: 0;
}

.Home .info > div {
   display: flex;
   gap: 20px;
   align-items: center;
   margin-bottom: 20px;
}

.Home .info a {
   text-decoration-line: none;
}

.Home .info a:hover {
   text-decoration-line: underline;
}

.Home .info .icon {
   color:var(--color-accent);
}
